<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Weadher</display-name>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.yassine.servlets.IndexServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SupprimerServlet</servlet-name>
    <servlet-class>com.yassine.servlets.SupprimerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>SupprimerServlet</servlet-name>
    <url-pattern>/supprimer</url-pattern>
  </servlet-mapping>
</web-app>

